:root {
    --color-primary: #fce000;
    --color-secondary: #f5f3f1;
    --color-price: #006933;
    --text-primary: #333;
    --text-secondary: #555;
    --border-card: 6px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-justify {
    justify-content: space-between;
}