* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
}

.justify {
    justify-content: space-between;
}

header,
footer {
    background-color: yellow;
    padding: 15px;
}

header ul {
    list-style: none;
}

header ul li {
    margin-right: 15px;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

.product-container {
    flex-wrap: wrap;
    gap: 5px;
}

.product-item {
    width: calc(25% - 5px);
    background-color: #eee;
    transition: background-color .3s ease-in-out;
}

.product-item img {
    width: 100%;
}

.product-item .product-info {
    padding: 15px;
}

.product-item .product-info h2 {
    margin: 0;
    font-size: 16px;
}

.product-item .product-info button {
    background-color: yellow;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 22px;
}

.product-item .img-container {
    overflow: hidden;
}

.product-item:hover {
    background-color: red;
}

.product-item:hover img {
    transform: scale(1.3);
}

.wrap {
    flex-grow: 1;
    height: 100%;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 768px) {
    .product-item {
        width: calc(50% - 5px);
    }

    header ul li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .product-item {
        width: calc(100% - 5px);
    }
}